.subMainContainer {
  background-color: #fff;
  border-radius: 15;
}

.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.secondLine {
  margin-left: 180px;
  margin-top: 30px;
}